version: "3.7"

services:
  helm-ui:
    build: "./client"
    # image: nginx
    ports:
    - "80:80"
    # volum?es:
    # - "./client/dist:/usr/share/nginx/html"
    # - "./client/default.conf:/etc/nginx/conf.d/default.conf"
    # - "./client/nginx.conf:/etc/nginx/nginx.conf"
    depends_on:
      - helm

  helm-configuration:
    build:
      context: "./configuration"
      dockerfile: "Dockerfile"
    volumes:
      - ./keys:/code/keys
    ports: 
      - 8070:8070

  redis:
    image: redis
    ports:
      - "6379:6379"
    restart: always

  rabbitmq:
    #image: "rabbitmq-delayed"
    build:
      context: "./rabbitmq"
      dockerfile: "RabbitDockerfile"
    ports:
        - "5672:5672"

  redis-commander:
    image: rediscommander/redis-commander:latest
    restart: always
    environment:
      - REDIS_HOSTS=local:redis:6379
    ports:
      - "8081:8081"

  fhirstore:
    image: synaneticsltd/synfhir-store:linux-v2.8.3
    restart: always
    environment:
      - ADVANCED_CONSENT=false
      - ASYNCPAGESIZE=1000
      - ASYNCEXPIRES=7
      - AUDIT_ACCESS=true
      - CACHEEXPIRES=600
      - FHIR_STORE_ASYNC_URL=https://fhir.staging.helm.org/fhir/stu4/bulk
      - FHIR_STORE_BASE_URL=https://fhir.staging.helm.org/fhir/stu3
      - LOGGER=true
      - LOGLEVEL=debug
      - MAX_CLIENTS=1
      - MAXPAGESIZE=1000
      - METRICSENABLE=false
      - NODE_ENV=development
      - PG_CONNECTION=postgresql://postgres:postgres@fhir-database:5432
      - PORT=3000
      - SERVICEDIR=services
      - TAG={"system":"https://yhcr.nhs.uk/Source","code":"YHCR","display":"YHCR Portal"}
      - VALIDATE_JWT=true
      - JWT_SECRET_OR_PUBLIC_KEY=http://helm-configuration:8070/internal/certificate
    ports:
      - "3001:3000"
    depends_on: 
      - helm-configuration

  yhcr-fhirstore:
    image: synaneticsltd/synfhir-store:linux-v2.8.3
    restart: always
    environment:
      - ADVANCED_CONSENT=true
      - ASYNCPAGESIZE=1000
      - ASYNCEXPIRES=7
      - AUDIT_ACCESS=true
      - CACHEEXPIRES=600
      - FHIR_STORE_ASYNC_URL=https://fhir.staging.helm.org/fhir/stu4/bulk
      - FHIR_STORE_BASE_URL=https://fhir.staging.helm.org/fhir/stu3
      - LOGGER=true
      - LOGLEVEL=debug
      - MAX_CLIENTS=1
      - MAXPAGESIZE=1000
      - METRICSENABLE=false
      - NODE_ENV=development
      - PG_CONNECTION=postgresql://postgres:postgres@fhir-database:5432
      - PORT=3000
      - SERVICEDIR=services
      - TAG={"system":"https://yhcr.nhs.uk/Source","code":"YHCR","display":"YHCR Portal"}
      - VALIDATE_JWT=true
      - JWT_SECRET_OR_PUBLIC_KEY=http://helm-configuration:8070/internal/certificate
    ports:
      - "3002:3000"
    depends_on: 
      - helm-configuration
      - fhirstore

  # fhirstore:
  #   build:
  #     context: ../synfhir-store
  #     dockerfile: Dockerfile
  #   restart: always
  #   environment:
  #     - ADVANCED_CONSENT=false
  #     - ASYNCPAGESIZE=1000
  #     - ASYNCEXPIRES=7
  #     - AUDIT_ACCESS=false
  #     - CACHEEXPIRES=600
  #     - FHIR_STORE_ASYNC_URL=https://fhir.staging.helm.org/fhir/stu4/bulk
  #     - FHIR_STORE_BASE_URL=https://fhir.staging.helm.org/fhir/stu3
  #     - LOGGER=true
  #     - LOGLEVEL=debug
  #     - MAX_CLIENTS=1
  #     - MAXPAGESIZE=1000
  #     - METRICSENABLE=false
  #     - NODE_ENV=development
  #     - PG_CONNECTION=postgresql://postgres:postgres@fhir-database:5432
  #     - PORT=3000
  #     - SERVICEDIR=services
  #     - TAG={"system":"https://yhcr.nhs.uk/Source","code":"YHCR","display":"YHCR Portal"}
  #     - VALIDATE_JWT=false
  #   ports:
  #     - "3001:3000"

  fhir-database:
    image: postgres:11
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5443:5432"

  prometheus:
    image: prom/prometheus:v2.16.0
    ports:
        - 9090:9090
    volumes:
        - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    image: grafana/grafana
    ports:
        - 3031:3000
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=zaq1ZAQ!
        # - GF_AUTH_ANONYMOUS_ENABLED=true
        # - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin

  helm-yhcr:
    build:
      dockerfile: ./yhcr/YhcrDockerfile  
      context: ./run/k8s/local
    ports:
      - 3443:443
    volumes:
      - ./keys/helm-development1-bb8d6ad3e477.json:/tmp/account-key.json
      - ./log:/var/log/nginx
    environment:
      - CA_CERT=gcp_sos_ca_cert
      - TARGET=http://host.docker.internal:8090
      - CERT=gcp_sos_dataprovider_server_cert
      - KEY=gcp_sos_dataprovider_server_key
      - PASSPHRASE=gcp_sos_dataprovider_server_passphrase
      - SERVERNAME=212-03.sandpit.yhcr.nhs.uk
      - NODE_ENV=development
      - TLSMA=ENABLED
      - GCP_PROJECT_ID=helm-development1
      - GOOGLE_APPLICATION_CREDENTIALS=/tmp/account-key.json

  test:
    build:
      dockerfile: Dockerfile
      context: ./nhsmock
    ports:
      - 9999:9999

  helm:
    restart: always
    build:
      context: ./helm
      dockerfile: DebugDockerfile
    command: npm run debug
    volumes:
      - ./helm:/code
      - ./keys:/code/keys
    ports:
      - "8880:8080"
      - "8890:8090"
      - "9230:9230"
    depends_on: 
      - fhir-database
      - helm-yhcr
      - grafana
      - prometheus
      - yhcr-fhirstore
      - fhirstore

  library:
    build:
      context: ./library
    command: nodemon -L --inspect=0.0.0.0:9231 src/server/index.js
    volumes:
      - ./library:/code
    ports:
      - 8881:8881
      - 9231:9231

  registry:
    build:
      context: ./registry
    command: nodemon -L --inspect=0.0.0.0:9232
    volumes:
      - ./registry:/code
    ports:
      - 8882:8882
      - 9232:9232